@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Bitcount+Grid+Double:100,200,300,regular,500,600,700,800,900);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1e27;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.calculator input {
  padding: 0 5px;
  height: 90px;
  background-color: white;
  color: #1c1e27;
  font-size: 28px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  text-align: right;
  font-family: "Bitcount Grid Double";
}
.calculator .row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.calculator .row button {
  width: 90px;
  height: 90px;
  border: none;
  border-radius: 8px;
  font-size: 22px;
}

.calculator .row button:hover,
.calculator .row button:active {
  background-color: rgb(222, 221, 221);
}

.calculator .row .orange {
  background-color: orange;
}

.calculator .row .orange:hover,
.calculator .row .orange:active {
  background-color: rgb(255, 180, 40);
}
